.banner {
  background-color: transparent;
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.banner h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}