# Environment variables
.env

# ---------- CLOUDFLARE ------------
nginx/cloudflared/edit-zone-dns-toke.txt
nginx/cloudflared/tunnel-uuid.txt

nginx/cloudflared/config.yaml
# ----------------------------------

# ---------- NGINX ------------
nginx/nginx.conf
# ----------------------------------

# ---------- GAME-SERVER ------------
game-server/node_modules/
# ----------------------------------

# ---------- WEB-SERVER ------------
# builds
web-server/node_modules/
#ssl certs
nginx/ssl/origin.crt
nginx/ssl/origin.key
# ----------------------------------

# ----------- FRONT-END ------------
# builds
front-end/node_modules/
front-end/build/
# ----------------------------------