# Environment variables
.env

# ---------- CLOUDFLARE ------------
nginx/cloudflared/edit-zone-dns-toke.txt
nginx/cloudflared/config.yaml
nginx/cloudflared/cert.perm
nginx/cloudflared/lampenit-tunnel.json
# ----------------------------------

# ---------- NGINX ------------
nginx/nginx.conf
# ----------------------------------

# -------- BACKEND-SERVER ----------
# builds
backend-server/node_modules/
backend-server/node_modules/
# ----------------------------------

# ----------- FRONT-END ------------
# builds
front-end/node_modules/
front-end/build/
# ----------------------------------