# Environment variables
.env


# ---------- GAME-SERVER ------------
game-server/node_modules/
# ----------------------------------

# ---------- WEB-SERVER ------------
# builds
web-server/node_modules/
web-server/build/
#ssl certs
nginx/ssl/nginx-selfsigned.crt
nginx/ssl/nginx-selfsigned.key

#cloudflared
nginx/cloudflared/edit-zone-dns-toke.txt
nginx/cloudflared/tunnel-uuid.txt
# ----------------------------------

# ----------- FRONT-END ------------
# builds
front-end/node_modules/
front-end/build/
# ----------------------------------